code, pre {
  font-family: $mono;
}
code {
  padding: 0.15em 0.35em;
  font-size: 0.875em;
  background-color: $code-bg;
  border-radius: 3px;
}
pre {
  display: block;
  margin: 1.5rem 0;
  padding: 1.25rem;
  font-size: 13.5px;
  line-height: 1.55;
  overflow-x: auto;
  white-space: pre;
  background-color: $code-bg;
  border-radius: 4px;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}
.highlight pre {
  margin-bottom: 0;
}

@media (max-width: $mobile-break) {
  pre {
    padding: 1rem;
    font-size: 13px;
    border-radius: 3px;
  }
}
